{
 :dependencies [[org.clojure/clojure "1.9.0"]
                [org.clojure/clojurescript "1.10.339" ]
                 [cljs-node-io "1.1.2"]
                 [funcool/promesa "1.9.0"]
                 [org.clojure/core.async "0.4.474"]
                 [org.clojure/tools.nrepl "0.2.10"]
                 [com.taoensso/timbre "4.10.0"] 
                 [org.clojure/tools.reader "1.1.1"]
                 [org.clojure/test.check "0.10.0-alpha2"]]

 :source-paths ["src" "dev"]
 :builds  {
           :test
           {:target    :node-test
            :output-to "local/node-tests.js"
            :ns-regexp "-spec$"
            :autorun   true}
           :local {:optimizations :none
                        :main user/main
                        :target :node-script
                        :output-to "local/huginn.js"
                        :pretty-print true}

           :dev {:optimizations :none
                 :main huginn.core/main
                 :target :node-script
                 :output-to "target/js/compiled/huginn.js"
                 :pretty-print true}}}
